@import './custom';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dongle:wght@300&family=Heebo:wght@200&family=Oswald:wght@200&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $white;
}
.header{
  &__writer-machine{
    color: $white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-shadow: 2px 0px 2px #014576;
  }
}

#offer-info{
  margin-top: 5%;
  background-color: #014576;
  color: white;
  -webkit-box-shadow: 0px 0px 7px 0px #014576;
  -moz-box-shadow: 0px 0px 7px 0px #014576;
  box-shadow: 0px 0px 7px 0px #014576;
  border-radius: 2px;
  padding: 10px;
  text-align: center;
}

#container-offers{
  margin-top: 8%;
  padding: 10px;
  height: auto;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Heebo', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}
#steam-offer{
  font-size: 4.9rem;
  color: black;
}
#fanatical-offer{
  font-size: 5.1rem;
  color: black;
}
#steam-offer:hover, #fanatical-offer:hover{
  color: #014576;
  transition: 0.5s;
}

#search-input{
  color: black;
}
#input-results{
  margin-top: 5%;
}
#apply-search{
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 7px 0px #014576;
  -moz-box-shadow: 0px 0px 7px 0px #014576;
  box-shadow: 0px 0px 7px 0px #014576;
}
#apply-search:hover{
  color: orange;
  transition: 0.5s;
}

#steam-offers,#versus-offers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
}
#top-deals{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#show-more-offers{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
#show-more-offers span{
  color: #014576;
  font-size: 2.5rem;
}
#show-more-offers span:hover{
  color: orange;
  transition: 0.5s;
}

#show-more-offers a{
  text-decoration: none;
}
#header-offers{
  display: flex;
  justify-content:center;
  margin-top: 5%;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Heebo', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
}
.div-ninety-off{
  width: 30%;
  margin-top: 5%;
  margin-right: 10px;
  &__img{
    width: 60%;
    height: 70px;
  }
  p{
    font-size: 10px;
    margin-top: 7%;
  }
}

@media screen and (min-width: 480px) {
  .div-ninety-off{
    width: 30%;
    margin-top: 5%;
    margin-right: 15px;
    &__img{
      width: 30%;
      height: 75px;
    }
    p{
      font-size: 1.1rem;
      margin-top: 5%;
    }
}}

.div-top-rated{
  width: 30%;
  margin-top: 4%;
  margin-left: 15px;
  &__img{
    width: 60%;
    height: 75px;
  }
  p{
    font-size: 10px;
    margin-top: 7%;
  }
}

@media screen and (min-width: 480px) {
  .div-top-rated{
    width: 30%;
    margin-top: 5%;
    &__img{
      width: 30%;
      height: 74px;
    }
    p{
      font-size: 1.1rem;
      margin-top: 5%;
    }
}}

.input{
  margin-top: 5%;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Heebo', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  color:#014576;
  font-weight: bold;
}
#search-input{
  width: 50%;
}

//Dinamic class

.header-deals{
  display: none;
}
@media screen and (min-width: 480px) {
  .header-deals{
    background-image: url(../assets/topventas.JPG);
    height: 180px;
    width: 100%;
    background-position: center;
    background-color: blue;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  }
}
#header-deals-steam{
  display: none;
}

@media screen and (min-width: 480px) {
  .header-deals-steam{
    height: 180px;
    width: 100%;
    background-image: url(../assets/top-ventas-steam.JPG);
    background-position: center;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    .pag{
      color: black;
      font-family: 'Bebas Neue', cursive;
      font-family: 'Dongle', sans-serif;
      font-family: 'Heebo', sans-serif;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.4rem;
      text-shadow: orange;
    }
  }
}

.top-deals{
  width: 30%;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 25px 15px 25px 15px;
  flex-direction: column;
  align-items: center;
}
.header-deals{
  display: flex;
  justify-content: start;
  align-items: center;
}

.div-mobile{
  width: 100%;
  height: 50px;
  background-color: #F8F9FA;
}
.div-mobile h1{
  font-family: 'Bebas Neue', cursive;
  font-family: 'Dongle', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-top: 20px;
}
@media screen and (min-width: 480px){
  .div-mobile{
    display: none;
  }
  .div-mobile h1{
    display: none;
  }
  .best-value{
    display: block;
  }
}
.best-value{
  position: absolute;
  width: 90px;
  height: 90px;
}

.print-container{
  width: 30%;
  height: 240px;
  display: flex;
  justify-content: center;
  margin: 25px 15px 25px 15px;
  flex-direction: column;
}
.offer-price{
  width: 100%;
  height: 20%;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.ninety-discount{
  position: absolute;
  width: 55px;
  height: 45px;
}
.top-rated{
  position: absolute;
  width: 55px;
  height: 45px;
  margin-top: 1%;
}
.print-offers{
  display: flex;
  width: 100%;
  height: 80%;
  &__img{
    display: flex;
    width: 100%;
    height: 100%;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
  }
  &__imgTop{
    display: flex;
    width: 100%;
    height: 100%;
    border:2px solid #fff;;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
  }
}
.offer-link{
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 7px 0px black;
  -moz-box-shadow: 0px 0px 7px 0px black;
  box-shadow: 0px 0px 7px 0px black;
  background-color: #323233;
  color: white;
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 15px;
}
.offer-link:hover{
  color: orange;
  transition: 0.5s;
  text-decoration: none;
}

.show-more{
  height: 50px;
  width: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discard-offers{
  height: 50px;
  width: 25%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn-showmore{
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 7px 0px #014576;
  -moz-box-shadow: 0px 0px 7px 0px #014576;
  box-shadow: 0px 0px 7px 0px #014576;
}
#btn-showmore:hover{
  color: orange;
}
.print-container__versus{
  width: 100%;
  height: 240px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.versus{
  width: 100%;
  display: flex;
  justify-content: center;
  &__steam{
    width: 50%;
    height: auto;
    padding: 10px;
    background-color: #F8F9FA;
    flex-direction: column;
  }
  &__fanatical{
    width: 50%;
    height: 300px;
    padding: 10px;
    background-color: #F8F9FA;
    flex-direction: column;
  }
  &-header__steam{
    width: 100%;
    height: 50px;
    background-color: #26356E;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  }
  &-header__steam span{
    font-size: 1.5rem;
    color: white;
    margin-top: 5%;
  }
  &-header__steam span:hover{
    color: black;
    transition: 0.5s;
  }
  &-header__fanatical{
    width: 100%;
    height: 50px;
    background-color: #FF9800;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  }
  &-header__fanatical span{
    font-size: 1.5rem;
    color: white;
    margin-top: 5%;
  }
  &-header__fanatical span:hover{
    color: black;
    transition: 0.5s;
  }
  &__text{
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    width: 100%;
    font-weight: bold;
    font-size: 0.6rem;
  }
  &__img{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
  }
  &__top-rated{
    position: absolute;
    width: 55px;
    height: 45px;
    margin-top: 5%;
  }
}
@media screen and (min-width: 480px){
  .versus-header{
    &__steam span{
      font-size: 2.5rem;
      color: white;
      margin-top: 1%;
    }
    &__fanatical span{
      font-size: 2.5rem;
      color: white;
      margin-top: 1%;
    }
  }
  .versus{
    &__text{
      margin-top: 2%;
      margin-bottom: 2%;
      height: auto;
      width: 100%;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }
}
.winner{
  margin-top: 5%;
}
.hide{
  display: none;
}
.socials{
  width: 100%;
}
.socials span{
  color:white;
  font-size: 2.5rem;
  margin: 0px 5px 0px 0px;
}
.socials span:hover{
  color: orange;
  transition: 0.5s;
}
@media screen and (min-width: 480px){
  .socials span{
    color:white;
    font-size: 3.8rem;
    margin: 0px 40px 0px 0px;
  }
}
.copy{
  width: 100%;
  margin-top: 50px;
  &__text{
    font-size: 0.9rem;
    color:white;
  }
  &__text span{
    color: orange;
  }
  &__text span:hover{
    color: red;
    text-decoration: none;
    transition: 0.5s;
  }
}

@media screen and (min-width: 480px){
  .copy{
    &__text{
      color: white;
      font-size: 1.1rem;
    }
  }
}
//Loader
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#014576;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px red;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #014576;
  border-right:3px solid #014576;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring-span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring-span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#014576;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #014576;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}